body {
  background-color: whitesmoke;
}

.w-100 {
  width: 100%;
}

.mdl-data-table td {
  cursor: pointer;
}

.font-source-code-pro {
  font-family: "Source Code Pro", monospace !important;
}

.hex-span {
  padding: 0px 4px 0px 4px;
}

.value-span {
  cursor: pointer;
  text-align: center;
  transition: background 0.150s ease-out;
}

.value-span:hover {
  background: #FFFFFF50;
}